

.footer-text-styles{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.basement{
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px; 
}

.social-wrap{
    display: flex;
    align-items: baseline;
}

.wrapper__color{
    color: var(--hero-text-color);
    font-style: normal;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    color: var(--accent-color);
    }
}

.wrapper__color-text{
    letter-spacing: 0.03em;
    color: var(--footer-contacts-color);
    font-style: normal;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus{
    color: var(--accent-color);
    }
}

.link-basement{
    display: flex;
    padding: 0;
}

.link-basement__link{
    margin-right: 10px;
}

.link-basement__link:last-child{
    margin-right: 0;
}

.wrap-form__input{
    width: 358px;
    height: 50px;
    padding-left: 16px;
    margin-right: 12px;

    color: var(--hero-text-color); 

    background-color: var(--background-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &:focus{
        outline: none;
        border-color: var(--accent-color);
    }
}

.link-basement__icon{
    fill: var(--hero-text-color);
}

.footer-form{
    display: flex;
    flex-direction: column;
}

.wrap-form__icon{
    margin-left: 10px;
}

.wrapper__indent:not(:last-child){
    margin-bottom: 9px;
}
    
.wrapper__color-text{
    letter-spacing: 0.03em;
    color: var(--footer-contacts-color);
    font-style: normal;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover, 
    &:focus{
    color: var(--accent-color);
    }
}
    
.wrapper__address{
    color: var(--hero-text-color);
    list-style: normal;
    font-style: normal;
}
    
.link-basement__link:last-child{
    margin-right: 0;
}
    
.wrap-form{
    display: flex;
}



@media screen and (max-width:767px) {
    .social-wrap{
        flex-direction: column;
        align-items: center;
    }

    .wrapper__address{
        display: block;
        text-align: center;
    }

    .wrap-form__input{
        width: 450px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .wrap-form{
        display:flex;
        flex-direction: column;
        align-items: center;
        
    }

    .wrapper__link{
        margin-bottom: 60px;
    }

    .wrapper__indent{
        margin-bottom: 8px;
    }

    .wrapper__indent:last-child{
        margin-bottom: 0px;
    }

    .social-link{
        margin-right: 0;
        margin-bottom: 60px;
    }
}


@media screen and (min-width:768px){
    .social-wrap{
        flex-wrap: wrap;
        align-items: baseline;
    }

    .basement-wrap{
        display: block;
        text-align: center;

        margin-left: 76px;
    }

    .social-link{
        display: block;
        text-align: center;
        margin-left: auto;

        margin-top: 65px;
        margin-right: 88px;
    }
    
    .wrap-form{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-form{
        margin-top: 96px;
        margin-left: auto;
        margin-right: auto;
    }

    .wrap-form__input{
        margin-right: 0;
        margin-bottom: 20px;
    }
}


@media screen and (min-width:1200px) {
    // *, ::after, ::before {
    //     box-sizing: revert;
    // }

    .social-wrap{
        flex-wrap: nowrap;
    }

    .basement-wrap{
        text-align: initial;
        margin-left: 0;
        margin-right: 70px;
    }

    .social-link{
        display: block;
        text-align: initial;
        margin-left: 0;
        margin-top: 0;
        margin-right: 93px;
    }

    .footer-form{
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .footer-form-titel{
        text-align: initial;
    }

    .wrap-form{
        flex-direction: initial;

    }

    .wrap-form__input{
        margin-right: 20px;
        margin-bottom: 0;
    }


}

















