
.page-header{
    position: relative;

    padding-top: 10px;
    padding-bottom: 10px ;

    // border-bottom: 1px solid#ECECEC;
}

.container__header{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}




// @media screen and (max-width: 767px) 

// 0-767px
    .site-nav{
        display: none;
    }
    
    .contacts-nav{
        display: none;
    }

    .menu-buttom{
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        line-height: 0;
    }
    
    .menu-mobile{
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100vh;
        overflow: auto;
        z-index: 10;
    
        background-color: var(--hero-text-color);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

    
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &.is-open{
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
        
    }
    
    .menu-mobile__container{
        position: relative;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    
    .menu-buttom-btn{
        position: absolute;
        top: 10px;
        right: 15px ;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        line-height: 0;

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover{
            fill: var(--accent-color);
        }
    }

    .site-mobile{
        margin-bottom: 302px;
    }

    .site-mobile .link{
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        

        color: var(--primary-text-color);
    }

    .site-mobile__item{
        margin-bottom: 32px;
    }

    .site-mobile__item:last-child{
        margin-bottom: 0;
    }

    .aside{
        margin-bottom: 32px;
    }

    .contacts-nav__tel{
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;

        letter-spacing: 0.02em;

        color: var(--accent-color);

        margin-bottom: 32px;
    }

    .contacts-nav__retreat{
        margin-bottom: 64px;
    }

    .contacts-nav__emeil{
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        
        color:var(--title-text-color);
    }

    .social-mobile{
        display: flex;
        flex-wrap: wrap;

        color: var(--accent-color); 
    }

    .site-mobile .link.current{
        color: var(--accent-color);
    }
    
    .social-mobile__link{
        margin-right: 10px;
        padding-right: 10px;


        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    .social-mobile__link:last-child{
        border-right: none;
        margin-right: 0px;
        padding-right: 0px;
    }

@media screen and (max-width:479px) {
    .contacts-nav__tel{
        font-size: 30px;

    }

    .site-mobile{
        margin-bottom: 80px;
    }

    .social-mobile__link{
        margin-right: 5px;
        margin-bottom: 0;
        padding-right: 5px;
    }
}



// 768+
@media screen and (min-width: 768px) {
    .menu-mobile{
        display: none;
    }

    .page-header{
        padding-top: 26px;
        padding-bottom: 26px;
        border-bottom: 1px solid#ECECEC;
    }

    .site-contacts{
        display: flex;
        align-items: center;
        width: 738px;
    }

    .logo{
        margin-right: 87px;
    }

    .site-nav{
        display: flex;
    }

    .site-nav__item{
        position: relative;
        margin-right: 50px;
    }

    .site-nav__item:last-child{
        margin-right: 0;
    }

    .site-nav .link {
        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.02em;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .site-nav .link:hover, 
    .site-nav .link:focus{
        color: var(--accent-color);
    }
    
    .site-nav .link:last-child{
        margin-right: 0;
    }
    
    .site-nav .link.current{
        color: var(--accent-color);
    }
    
    .contacts-nav{
        display: block;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .contacts-nav .link {
        display: flex;
        align-items: center;
    
        color: var(--title-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }

    .aside {
        margin-bottom: 0;
    }

    .contacts-nav__icon{
    margin: 0;
    padding: 0;
    margin-right: 10px;
    fill: var(--title-text-color);
    }

    .contacts-nav__retreat{
        margin-bottom: 10px;
    }

    .menu-buttom{
        display: none;
    }

    .site-nav__studio::after{
        position: absolute;
        display: block;
        content: "";
    
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -37px;
    
        
        background: #2196F3;
        border-radius: 2px;
    
        transition: opacity var(--timing-function-active);
    }
}

// 1200+

@media screen and (min-width:1200px) {

    .page-header{
    
        padding-top: 24px;
        padding-bottom: 24px;
        // border-bottom: 1px solid#ECECEC;
    }
    
    .site-contacts{
        // display: flex;
        // align-items: center;
        width: 1170px;
    }

    // .site-nav{
    //     display: flex;
    // }
    
    .site-nav__item{
        // position: relative;
        display: flex;
        align-items: center;
    }

    .site-nav .site-nav__item:not(:last-child){
        margin-right: 50px;
    }
    
    // .site-nav .link {
    //     color: var(--primary-text-color);
    //     font-weight: 500;
    //     font-size: 14px;
    //     line-height: 1.14;
    //     letter-spacing: 0.02em;
    
    //     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    // }
    
    // .site-nav .link:hover, 
    // .site-nav .link:focus{
    //     color: var(--accent-color);
    // }
    
    // .site-nav .link:last-child{
    //     margin-right: 0;
    // }
    
    // .site-nav .link.current{
    //     color: var(--accent-color);
    // }

    .site-nav__studio::after{
        // position: absolute;
        // display: block;
        // content: "";
    
        // width: 100%;
        // height: 4px;
        // left: 0;
        bottom: -31px;
    
        
        // background: #2196F3;
        // border-radius: 2px;
    
        // transition: opacity var(--timing-function-active);
    }

    .aside {
        margin-bottom: 0px;
    }

    .contacts-nav{
        display: flex;
        margin-left: auto;
        }
        
    .contacts-nav .aside:not(:last-child){
        margin-right: 50px;
        }
        
    .contacts-nav__retreat{
        margin-right: 30px;
        margin-bottom: 0;
        }

    .contacts-nav__icon{
        // margin: 0;
        // padding: 0;
        // margin-right: 10px;
        // fill: var(--title-text-color);
        
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
    .link:hover .contacts-nav__icon,
    .link:focus .contacts-nav__icon{
        fill: var(--accent-color);
        }

    .contacts-nav .link {
        // display: flex;
        // align-items: center;
        
        // color: var(--title-text-color);
        // font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        // letter-spacing: 0.02em;
        
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .link:hover,
        .link:focus{
            color: var(--accent-color);
        }
}



    // .page-header{
    //     padding-top: 24px;
    //     padding-bottom: 24px;
    // }
    
    // .site-contacts{
    //     display: flex;
    //     align-items: center;
    // }



    // .logo {
    //     margin-right: 92px;
    // }

    // .contacts-nav{
    //     display: flex;
    //     align-items: center;
    //     margin-left: auto;
    // }

    // .aside{
    //     margin-right: 30px;
    //     margin-bottom: 0;
    // }

// .contacts-nav__tel{

//     font-style: normal;
//     font-weight: 500;
//     font-size: 34px;
//     line-height: 1.18;
    
//     margin-bottom: 32px;
    
//     color: var(--accent-color);
//     }
    
//     .contacts-nav__emeil{
    
//         font-style: normal;
//         font-weight: 500;
//         font-size: 24px;
//         line-height: 1.17; 
//     }











// .contacts-nav{
//     display: flex;
//     margin-left: auto;
// }

// .contacts-nav .contacts-nav__retreat:not(:last-child){
//     margin-right: 50px;
// }

// .contacts-nav__icon{
//     margin: 0;
//     padding: 0;
//     margin-right: 10px;
//     fill: var(--title-text-color);

//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     .link:hover &,
//     .link:focus &{
//     fill: var(--accent-color);
//     }
// }



// .site-contacts{
//     display: flex;
//     align-items: center;
// }



// .site-nav{ 
//     display: flex;
    
// }

// .site-nav__item{
//     position: relative;
//     display: flex;
//     align-items: center;
//     margin-bottom: 36px;

//     @media screen and (max-width: 767px) {
//         .site-nav &:last-child{
//             margin-bottom: 302px;
//         }
//     }
// }

// .site-nav__studio::after{
//     position: absolute;
//     display: block;
//     content: " ";

//     width: 100%;
//     height: 4px;
//     left: 0;
//     top: 53px;

    
//     background: #2196F3;
//     border-radius: 2px;

//     transition: opacity 250ms var(--timing-function-active);
// }








