
    .hero__container{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        
        padding-top: 118px;
        padding-bottom: 118px;
    }

    .hero__title {
        color: var(--hero-text-color);
        font-weight: 900;
        font-size: 26px;
        line-height: 1.6;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        // width: 360px;
    
        margin-top: 0;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
    }


    .hero__container_overlay{
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        outline: 1px solid var(--hero-solid-color);
        /* background-repeat: no-repeat; */
        background-size: cover;
        background-position: center;
        background-color: var(--hero-solid-color);
        background-image: 
        linear-gradient(to right, rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
        url('../images/hero-mobile-img.jpg');
    }
    
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero__container_overlay{
                background-image: 
                linear-gradient(to right, rgba(47, 48, 58, 0.4), 
                rgba(47, 48, 58, 0.4)), 
                url('../images/hero-mobile-img@2x.jpg');
            }
    }


@media screen and (min-width: 768px){
    .hero__container_overlay{
        height: 400px;
        background-size: cover;
        background-image: 
        linear-gradient(to right, rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
        url('../images/hero-tablet-img.jpg');
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero__container_overlay{
            background-image: 
            linear-gradient(to right, rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)),
            url('../images/hero-tablet-img@2x.jpg');
        }
    }

    .hero__title{
        width: 368px;
    }
    
}

@media screen and (min-width: 1200px){
    
    .hero__container_overlay{
        min-width: 1600px;
        height: 600px;
        background-image: 
        linear-gradient(to right, rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
        url('../images/hero-desktop-img.jpg');
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero__container_overlay{
            background-image:             
            linear-gradient(to right, rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)),
            url('../images/hero-desktop-img@2x.jpg');
        }
    }

    .hero__container{
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .hero__title{
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
        width: 696px;
    }

}

