.logo-styles-text{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-family: Raleway, sans-serif;
}

.logo-blue__organization{
    color: var(--hero-text-color);
}

    .logo{
        color: var(--accent-color);
    }
    
    .logo__black{
        color: var(--black-hero-color);
    }
    
    .logo-blue{
        display: block;
        text-align: center;
        color: var(--accent-color);

        margin-bottom: 20px;
    }


@media screen and (min-width:1200px) {
    .logo{
        font-size: 26px;
        line-height: 1.2;
    }

    .logo__black{
        color: var(--black-hero-color);
        font-size: 26px;
        line-height: 1.2;
    }

    .logo-blue{
        display: block;
        text-align: initial;
        margin-bottom: 20px;

        font-size: 26px;
        line-height: 1.2;
    }
}












