:root{
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --background-color: #2F303A; 
    --hero-text-color: #FFFFFF;
    --button-color:#F5F4FA;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --black-hero-color: #000000;
    --container-bordder-color:#EEEEEE;
    --hero-solid-color: #C4C4C4;
    --link-icon-color: #AFB1B8; 
    --section-team-bacground-color:#F5F4FA;
    --timing-function-active: cubic-bezier(0.4, 0, 0.2, 1);
    --color-text-textarea: rgba(117, 117, 117, 0.5);
    --color-bordder-form: rgba(33, 33, 33, 0.2);
}
